- name: Deploying Container
  hosts: all
  become: true
  collections:
    - community.docker

  vars:
    fqdn: "{{fqdn}}"
    container_name: "{{name}}"
    dedicated_ip: "{{dedicated_ip}}"

  tasks:

    - name: Creates/Ensures Postgres volume exists
      community.docker.docker_volume:
       name: postgres_data
       state: present

    - name: Checks Host folder exists
      ansible.builtin.file:
        path: /var/lib/docker/volumes/technitium-data/_data
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Remove existing container
      community.docker.docker_container:
        name: "{{name}}"
        state: absent

    - name: Deploy Container
      community.docker.docker_container:
        name: "{{name}}"
        image: postgres:14
        pull: yes
        state: started
        restart_policy: unless-stopped
        recreate: true
        env:
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_USER: ${POSTGRES_USER}
        volumes:
          - postgres_data:/var/lib/postgresql
        networks:
          - name: VLAN25
            ipv4_address: "{{ dedicated_ip | default(omit) }}"