# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/community/lovelace-card-mod/card-mod.js
sensor:
  - platform: ha_transportnsw
    api_key:
    origin_id: 10101120
    destination_id: 206710
    trip_wait_time: 10
    transport_type: 1 # Only trains
    return_info: verbose
    strict_transport_type: true
    trips_to_create: 3
    include_realtime_location: true
    include_alerts: normal
    alert_types:
      - lineInfo
      - routeInfo
    name: "Killara to Chatswood"
  - platform: time_date
    display_options:
      - 'date_time_iso'
homeassistant:
  external_url: "https://homeassistant.tomunsworth.net"
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 10.2.3.0/24
        - 10.2.0.13
        - 10.2.0.0/24
      trusted_users:
        10.2.3.53: 1d8a9227d3884b7f97f4ce935922713e
        10.2.3.51: 1d8a9227d3884b7f97f4ce935922713e
      allow_bypass_login: true
    - type: homeassistant
template:
  - trigger:
     - platform: time_pattern
       seconds: "/1"
    sensor:
      - name: "Date Custom"
        state: "{{ now().strftime('%A %d %B %Y %H:%M:%S') }}"
http:
  server_port: 443
  ssl_certificate: /etc/letsencrypt/live/homeassistant.tomunsworth.net/fullchain.pem
  ssl_key: /etc/letsencrypt/live/homeassistant.tomunsworth.net/privkey.pem
  use_x_forwarded_for: true
  trusted_proxies:
     - 172.21.0.4
     - 10.2.3.25
     - 172.0.0.0/8
logger:
  default: warning
  logs:
    homeassistant.auth: debug
scene: !include scenes.yaml
mqtt: !include ceiling_fans.yaml