name: Mikrotik Add IP to NAT Allowlist

on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment name'
        required: true
        type: string
      container_name:
        description: 'Container name'
        required: true
        type: string
      allocated_ip:
        description: 'Container IP address to add to allowlist'
        required: true
        type: string
      docker_host:
        description: 'Docker host (pi3 or pi4)'
        required: true
        type: string

jobs:
  add-ip-to-nat-allowlist:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible
          ansible-galaxy collection install community.routeros

      - name: Add IP to NATAllowed address list
        run: |
          ansible-playbook \
            -e "container_name=${{ inputs.container_name }}" \
            -e "allocated_ip=${{ inputs.allocated_ip }}" \
            -e "vars_mikrotik_ip=${{ vars.MIKROTIK_IP }}" \
            -e "vars_mikrotik_user=${{ vars.MIKROTIK_USER }}" \
            -e "vars_mikrotik_port=${{ vars.MIKROTIK_PORT || 8728 }}" \
            -e "ansible_password=${{ secrets.MIKROTIK_PASSWORD }}" \
            infrastructure/mikrotik/add_to_natallowed.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"

      - name: Cleanup
        if: always()
        run: |
          rm -rf ./ansible_tmp
