name: SSH Setup

on:
  workflow_call:
    inputs:
      host:
        required: true
        type: string
      environment:
        required: true
        type: string
      runs_on:
        required: true
        type: string
      step:
        required: true
        type: string
        description: 'Which step: create-user or setup-keys'

jobs:
  ssh-setup:
    runs-on: ${{ inputs.runs_on }}
    environment: ${{ inputs.environment }}

    env:
      BASE_DIR: 'infrastructure/host/ssh'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure Ansible is installed
        run: |
          if ! command -v ansible >/dev/null 2>&1; then
            echo "Ansible not found. Installing..."
            sudo apt update
            sudo apt install -y ansible
          else
            echo "Ansible already installed."
          fi

      - name: Create Ansible inventory
        run: |
          cd $BASE_DIR
          echo "localhost ansible_connection=local" > inventory.ini

      - name: Run create-user playbook
        if: ${{ inputs.step == 'create-user' }}
        run: |
          cd $BASE_DIR
          echo "${{ secrets.SUDO }}" | sudo -S ansible-playbook create_admin_user.yml \
            -i inventory.ini

      - name: Run setup-keys playbook
        if: ${{ inputs.step == 'setup-keys' }}
        run: |
          cd $BASE_DIR
          echo "${{ secrets.SUDO }}" | sudo -S ansible-playbook setup_ssh_keys.yml \
            -i inventory.ini \
            -e "ssh_private_key='$SSH_PRIVATE_KEY'" \
            -e "ssh_public_key='$SSH_PUBLIC_KEY'"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_ADMIN_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_ADMIN_PUBLIC_KEY }}
